{{include './header.html'}}
<style>
    .layadmin-tips .layui-icon[face] {
        display: inline-block;
        font-size: 300px;
        color: #393D49;
    }
    
    .layui-fluid {
        position: relative;
        margin: 0 auto;
        padding: 0 15px;
    }
    
    .layadmin-tips {
        margin-top: 30px;
        text-align: center;
    }
    
    .layadmin-tips .layui-text {
        width: 500px;
        margin: 30px auto;
        padding-top: 20px;
        border-top: 5px solid #009688;
        font-size: 16px;
    }
    
    .layadmin-tips .layui-text .layui-anim {
        display: inline-block;
    }
    
    .layui-anim {
        -webkit-animation-duration: .3s;
        animation-duration: .3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    
    .layadmin-tips h1 {
        font-size: 100px;
        line-height: 100px;
        color: #009688;
    }
    
    .layui-anim-rotate {
        -webkit-animation-name: layui-rotate;
        animation-name: layui-rotate;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
    
    .layui-anim-loop {
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }
</style>
</head>

<body>
    <div class="layui-fluid">
        <div class="layadmin-tips">
            <i class="layui-icon" face=""></i>
            <div class="layui-text">
                <h1>
                    <span class="layui-anim layui-anim-loop layui-anim-">4</span>
                    <span class="layui-anim layui-anim-loop layui-anim-rotate">0</span>
                    <span class="layui-anim layui-anim-loop layui-anim-">4</span>
                </h1>
            </div>
        </div>
    </div>

</body>

</html>